@model CarAPI.Models.Login

<h2>Logowanie</h2>

@using (Html.BeginForm("Login", "Account" , FormMethod.Post))
{
    @Html.ValidationSummary();

    <span>Login: </span> @Html.TextBoxFor(x => x.UserName)
    <span>Password: </span> @Html.PasswordFor(x => x.Password)

    <button type="submit">Zaloguj</button>

}

