@model CarAPI.Models.Register

<h2>Rejestracja</h2>

@using(Html.BeginForm("Register", "Account" , FormMethod.Post))
{
    @Html.ValidationSummary();
    <div>
    <span>Login: </span> @Html.TextBoxFor(x => x.UserName)
    </div>
    <div>
    <span>Email: </span> @Html.TextBoxFor(x => x.Email)
    </div>
    <div>
    <span>Hasło: </span> @Html.PasswordFor(x => x.Password)
    </div>

    <button class="btn btn-primary" type="submit">Zarejestruj</button>

}

